################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.DAL.dll
/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.DAL.pdb
/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.Domain.dll
/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.Domain.pdb
/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.WebApi.dll
/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.WebApi.exe
/ThaiBev.WebApi/bin/Debug/net8.0/ThaiBev.WebApi.pdb
/ThaiBev.Domain/bin/Debug/net8.0/ThaiBev.Domain.dll
/ThaiBev.Domain/bin/Debug/net8.0/ThaiBev.Domain.pdb
/ThaiBev/.vs/ThaiBev/DesignTimeBuild/.dtbcache.v2
/ThaiBev/.vs/ThaiBev/v17/.suo
/ThaiBev/.vs/ThaiBev/v17/DocumentLayout.backup.json
/ThaiBev/.vs/ThaiBev/v17/DocumentLayout.json
/ThaiBev.DAL/bin/Debug/net8.0/ThaiBev.DAL.dll
/ThaiBev.DAL/bin/Debug/net8.0/ThaiBev.DAL.pdb
/ThaiBev.DAL/bin/Debug/net8.0/ThaiBev.Domain.dll
/ThaiBev.DAL/bin/Debug/net8.0/ThaiBev.Domain.pdb
/ThaiBev.DAL/obj/project.assets.json
/ThaiBev.DAL/obj/project.nuget.cache
/ThaiBev.DAL/obj/ThaiBev.DAL.csproj.nuget.dgspec.json
/ThaiBev.DAL/obj/Debug/net8.0/ref/ThaiBev.DAL.dll
/ThaiBev.DAL/obj/Debug/net8.0/refint/ThaiBev.DAL.dll
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.AssemblyInfo.cs
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.AssemblyInfoInputs.cache
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.assets.cache
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.csproj.AssemblyReference.cache
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.csproj.CoreCompileInputs.cache
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.csproj.FileListAbsolute.txt
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.dll
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.GeneratedMSBuildEditorConfig.editorconfig
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.genruntimeconfig.cache
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.pdb
/ThaiBev.DAL/obj/Debug/net8.0/ThaiBev.DAL.sourcelink.json
/ThaiBev/obj/project.assets.json
/ThaiBev/obj/project.nuget.cache
/ThaiBev/obj/ThaiBev.csproj.nuget.dgspec.json
/ThaiBev/bin/Debug/net8.0/ThaiBev.DAL.dll
/ThaiBev/bin/Debug/net8.0/ThaiBev.DAL.pdb
/ThaiBev/bin/Debug/net8.0/ThaiBev.dll
/ThaiBev/bin/Debug/net8.0/ThaiBev.Domain.dll
/ThaiBev/bin/Debug/net8.0/ThaiBev.Domain.pdb
/ThaiBev/bin/Debug/net8.0/ThaiBev.exe
/ThaiBev/bin/Debug/net8.0/ThaiBev.pdb
/ThaiBev/bin/Debug/net8.0/ThaiBev.staticwebassets.runtime.json
/ThaiBev/.vs/ThaiBev/FileContentIndex/030bb5ae-6588-4395-9b6d-7a2e5ac6931d.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/0ede592d-8646-40d6-8e4f-e429979b0d4e.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/1e4a6b61-d678-49d5-8710-489b6b9b7422.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/2e17de44-1cc8-4f98-8494-07db4b54b790.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/45cfc083-78aa-43ea-85b7-9f7aac13f0df.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/506c0a33-d024-41c4-8822-b62d20bd946c.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/bea85b0f-86aa-4db0-8410-68c81d47c0a3.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/e2307963-bc0d-4474-9b54-12cf92a2d82a.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/f61ca541-b0be-4999-beca-8089fe56802d.vsidx
/ThaiBev/.vs/ThaiBev/FileContentIndex/fbe58e4d-ed81-46d0-bacc-4c86bfc4e085.vsidx
/ThaiBev.WebApi/obj/project.assets.json
/ThaiBev.WebApi/obj/project.nuget.cache
/ThaiBev.WebApi/obj/ThaiBev.WebApi.csproj.nuget.dgspec.json
/ThaiBev.WebApi/obj/Debug/net8.0/ref
/ThaiBev.WebApi/obj/Debug/net8.0/refint
/ThaiBev.WebApi/obj/Debug/net8.0
/ThaiBev.Domain/obj
/ThaiBev/obj/Debug/net8.0
