@media screen and (min-width:1001px) {
  #home-blc .content-blc .list-group li a:hover {
    background-color: var(--color-red);
    color: #fff;
  }
}

#home-blc .content-blc {
  padding: 4rem 2rem;
}

#home-blc .content-blc .ttl {
  font-size: 300%;
  display: block;
  font-weight: bold;
  text-align: center;
}

#home-blc .content-blc .list-group {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
  max-width: 1200px;
  margin: 2rem auto auto;
}

#home-blc .content-blc .list-group li {
  width: calc((100% - 1rem) / 2);
  margin-right: 1rem;
  margin-top: 1rem;
}

#home-blc .content-blc .list-group li:last-child {
  margin-right: 0;
}

#home-blc .content-blc .list-group li:nth-child(2n+2) {
  margin-right: 0;
}

#home-blc .content-blc .list-group li:nth-child(-n+2) {
  margin-top: 0;
}

#home-blc .content-blc .list-group li a {
  background-color: #ffffff;
  /* display: inline-block; */
  width: 100%;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  padding: 2rem 4rem 2rem 3rem;
  border-radius: 10px;
  /* text-align: center; */
  font-size: 180%;
  font-weight: bold;
  line-height: 1.2;
  transition: all ease-in 0.3s;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

#home-blc .content-blc .list-group.list02 {
  margin-top: 8rem;
}

#home-blc .content-blc .list-group.list02 li {
  width: calc((100% - 2rem) / 3);
}

#home-blc .content-blc .list-group.list02 li:nth-child(-n+3) {
  margin-top: 0;
}

#home-blc .content-blc .list-group.list02 li:nth-child(2n+2) {
  margin-right: 1rem;
}

#home-blc .content-blc .list-group.list02 li a {
  font-size: 100%;
  padding: 5px 15px;
}

#home-blc .content-blc .list-group li a>span {
  padding-left: 15px;
  display: inline-block;
  box-sizing: border-box;
}

#home-blc .content-blc .list-group li a::after {
  content: "\f0da";
  font-family: 'Font Awesome 5 Solid';
  font-weight: 900;
  position: absolute;
  right: 30px;
  top: auto;
  bottom: auto;
}

#home-blc .content-blc .list-group.list02 li a::after {
  content: "\f35d";
  right: 10px;
}