body {
  background-color: #f5f5f5;
}

p {
  /* color: #b3b3b3; */
  font-weight: 300;
}
#notfound-page #content {
    padding: 10px 0;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none !important;
}

h2 {
  font-size: 20px;
}

.btn {
  font-size: 100%;
  font-weight: 400;
}


/* -----------------------------------------------------

social-login

--------------------------------------------------------*/

.content {
  display: flex;
  /* height: calc(100vh - 92px); */
  align-items: center;
  padding: 5vw 0;
}

.content .contents,
.content .bg {
  width: 50%;
}

.content .contents .form-group,
.content .bg .form-group {
  margin-bottom: 0;
  padding: 15px 15px;
  border-bottom: none;
  position: relative;
  background: #ffffff;
  border: 1px solid #e6edf1;
  border-radius: 5px;
}

.content .container>.row {
  /* padding: 1rem 0; */
  /* box-sizing: border-box; */
}

.content .contents .form-group label,
.content .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.content .contents .form-group input,
.content .bg .form-group input {
  background: transparent;
}

.content .contents .form-group label,
.content .bg .form-group label {
  font-size: 12px;
  display: block;
  margin-bottom: 0;
  color: #b3b3b3;
}

.content .contents .form-group.focus,
.content .bg .form-group.focus {
  background: #fff;
}

.content .contents .form-group.field--not-empty label,
.content .bg .form-group.field--not-empty label {
  margin-top: -20px;
}

.content .contents .form-control,
.content .bg .form-control {
  border: none;
  padding: 0;
  font-size: 100%;
  border-radius: 0;
}

.content .contents .form-control:active,
.content .contents .form-control:focus,
.content .bg .form-control:active,
.content .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content .bg {
  background-size: cover;
  background-position: center;
}

.content a {
  color: #888;
  text-decoration: underline;
}

.content .btn {
  padding: 15px 30px;
  box-sizing: border-box;
  display: block;
  max-width: 100% !important;
}

.content .btn i {
  margin-right: 5px;
}

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

#login-page .register-content {
  padding: 0 0 4rem;
}

#login-page .register-content .container {
  max-width: 1000px;
}

#login-page .content .contents .logo img {
  max-width: 100%;
}

/* #login-page .content-blc .btn-style-login .btn-blc .btn-style-blc .btn.btn-secondary {
  border: 1px solid #222222 !important;
} */

#login-page .content .contents .btn-blc .btn-style-blc.btn-style02 .btn-link {
  color: #101010;
}

#login-page .content .contents .btn-blc .btn-style-blc.btn-style02 .btn-link:last-child {
  text-align: right;
}

@media screen and (max-width:1366px) {

  #content {
    padding-bottom: 2rem;
    height: calc(100vh - 92px);
  }
}

@media screen and (max-width:1200px) {
  .content {
    flex-wrap: wrap;
  }

}

@media (max-width: 1199.98px) {

  .content .contents,
  .content .bg {
    width: 100%;
  }
}


@media (max-width: 991.98px) {
  .content .bg {
    height: 500px;
  }
}

/* -----------------------------------------------------

social-login

--------------------------------------------------------*/

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.social-login a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social-login a:hover {
  color: #fff;
}

.social-login a.facebook {
  background: #3b5998;
}

.social-login a.facebook:hover {
  background: #344e86;
}

.social-login a.twitter {
  background: #1da1f2;
}

.social-login a.twitter:hover {
  background: #0d95e8;
}

.social-login a.google {
  background: #ea4335;
}

.social-login a.google:hover {
  background: #e82e1e;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control .caption {
  position: relative;
  top: .2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  background: #ccc;
}

.control input:checked~.control__indicator {
  background: #6c63ff;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
  background: #847dff;
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}

/* ----------------------------------------- 

ttl-blc

--------------------------------------------*/

#content {
  /* padding: 0 0 4rem; */
}

#content .ttl-blc {
  margin-top: 1rem;
}

#content .ttl-blc h1 {
  font-size: 250%;
  font-weight: bold;
  display: block;
  line-height: 1.2;
}

#content .ttl-blc p {
  color: var(--color-black);
}

#content .ttl-blc p>span {
  color: var(--color-red);
}

/* -----------------------------------------------

login-page

-------------------------------------------------*/

#login-page .content .bg {
  padding: 0 4vw 0 0;
  display: flex;
  align-items: center;
}

#login-page .content .bg img {
  max-width: 100%;
}

#login-page .content .bg figure {
  margin-bottom: 0;
}

#login-page .content .contents>div .col-md-12 {
  /* padding: 0 19%; */
}

#login-page .content .contents>div .logo {
  margin-bottom: 3rem;
}

#login-page .content .contents>div .logo figure {
  max-width: 300px;
  margin: auto;
}

#login-page .content .contents h3 {
  font-size: 200%;
  font-weight: 500;
  line-height: 1.2;
}

#login-page .content .contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5rem 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .2);
}

#login-page .content .contents>div {
  width: 100%;
}

#login-page .content .col-md-6>img {
  padding-right: 4rem;
  height: 100%;
}

#login-page .content .contents .logo h1 {
  color: #eb0a1e;
  font-weight: bold;
  font-size: 450%;
  line-height: 1;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

#login-page .content-blc .txt-remark {
  margin-top: 3rem;
  font-size: 120%;
  display: block;
  text-align: center;
  font-weight: 400;
}

#login-page .content-blc .txt-remark>span {
  color: var(--color-red);
}

#login-page .content-blc .container-list {
  margin-top: 1rem;
  background-color: #ffffff;
  padding: 4rem 4rem;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .2);
}

#login-page .content-blc .container-list:first-child {
  margin-top: 0;
}

#login-page .content-blc .container-list .ttl-section {
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
}

#login-page .content-blc .container-list .ttl-section+.txt-section {
  margin-top: 20px;
}

#login-page .content-blc .btn-style-login {
  max-width: 640px;
  margin: 2rem auto auto;
}

#login-page .content-blc .btn-style-login .btn-blc {
  display: flex;
  justify-content: center;
}

#login-page .content-blc .btn-style-login .btn-blc .btn-style-blc {
  margin-top: 0 !important;
  max-width: 100%;
  width: calc((100% - 1rem) / 2);
  margin-right: 1rem;
}

#login-page .content .contents .btn-blc .btn-style-blc:last-child {
  margin-top: 1rem !important;
  padding-top: 1rem !important;
  border-top: 1px solid #e6edf1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}


#login-page .content-blc .btn-style-login .btn-blc .btn-style-blc .btn {
  width: 100% !important;
  max-width: 100% !important;
}

#login-page .content-blc .btn-style-login .btn-blc .btn-style-blc:last-child {
  margin-right: 0;
}

#login-page .content-blc .btn-style-login .btn-blc.btn-blc02 {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-grey);
}

#login-page .content-blc .btn-style-login .btn-blc.btn-blc02 .btn-style-blc {
  width: 100%;
}

#login-page .content-blc .btn-style-login .btn-blc.btn-blc02 .btn-style-blc .btn-primary {
  background: transparent !important;
  border: 1px solid #222222 !important;
  color: #222222 !important;
}

#login-page .content-blc .btn-style-login .btn-blc.btn-blc02 .btn-style-blc .btn-primary:disabled,
#login-page .content-blc .btn-style-login .btn-blc.btn-blc02 .btn-style-blc .btn-primary:focus,
#login-page .content-blc .btn-style-login .btn-blc.btn-blc02 .btn-style-blc .btn-primary:hover {
  background: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff !important;
}

@media screen and (max-width:1366px) {
  #login-page .content .contents .logo h1 {
    font-size: 300%;
    margin-bottom: 1rem;
  }

  #login-page .content .contents h3 {
    font-size: 200%;
  }

}

@media screen and (max-width:1200px) {

  #login-page .row>.col-md-6 {
    width: 100%;
    text-align: center;
    display: none;
  }

  #login-page .row>.col-md-6.contents {
    display: flex;
    max-width: 640px;
    margin: auto;
    padding: 5vw 0;
    width: 88%;
  }

  #login-page .content .contents .logo h1 {
    margin-bottom: 1vw;
  }
}

@media screen and (max-width:768px) {

  #login-page .content .contents>div {
    max-width: 480px;
  }
}

@media screen and (max-width:640px) {
  #login-page .content .contents .logo h1 {
    font-size: 12vw;
  }
}

/* ----------------------------------------- 

tbl-stlye01

--------------------------------------------*/

.tbl-stlye01 {
  width: 100%;
}

.tbl-stlye01 tbody th,
.tbl-stlye01 tbody td {
  padding: 15px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebedf2;
  font-size: 110%;
}

.tbl-stlye01 tbody th {
  width: 30%;
  /* text-align: right; */
  font-weight: 600;
}

.tbl-stlye01 tbody td {
  width: 70%;
  font-weight: 400;
}

.tbl-stlye01 tbody tr:first-child th,
.tbl-stlye01 tbody :first-child td {
  padding-top: 0;
}

.tbl-stlye01 tbody td .profile-blc {
  align-items: flex-end;
}

.tbl-stlye01 tbody td .profile-blc img {
  max-width: 128px;
  width: 100%;
  height: 128px;
  object-fit: contain;
  border: 1px solid #ededed;
}

.tbl-stlye01 tbody td .profile-blc .button-wrapper {
  width: calc(100% - 128px);
  padding-left: 1rem;
  box-sizing: border-box;
}

.tbl-stlye01 tbody td .profile-blc .button-wrapper .btn-primary>span {
  color: #fff;
}

/* ----------------------------------------- 

header

--------------------------------------------*/

#header .top-bar {
  background-color: var(--color-red);
  padding: 8px 20px;
  box-sizing: border-box;
}

#header .top-bar .d-flex {
  display: flex;
  justify-content: space-between;
}

#header .top-bar .d-flex>div {
  width: 50%;
}

#header .top-bar .d-flex>div.top01 {
  text-align: left;
  display: flex;
  align-items: center;
}

#header .top-bar .d-flex>div.top02 {
  text-align: right;
}

#header .top-bar .d-flex>div.top01 * {
  color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
}

#header .top-bar .d-flex>div.top01 h2 {
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
}

#header .top-bar .d-flex>div.top01 span {
  font-size: 100%;
  padding-left: 10px;
}

#header .top-bar .d-flex>div.top02 {
  background-color: #ffffff;
  max-width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 7px;
  box-sizing: border-box;
}

#header .top-bar .d-flex>div.top02>span {
  font-size: 180%;
  line-height: 1;
  font-weight: bold;
  color: var(--color-red);
}

#header .marquee-text marquee {
  font-size: 80%;
  line-height: 1.8;
}

@media screen and (max-width:768px) {
  #header .top-bar .d-flex {
    font-size: 1.5vw;
  }
}

/* ----------------------------------------- 

password

--------------------------------------------*/

.password-toggle {
  position: relative;
}

.password-toggle .form-control {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.eye-password {
  display: none;
  width: 20px;
  height: 20px;
}

.eye-password.show {
  display: block;
}

input::-ms-reveal {
  display: none !important;
}

.error-container {
  max-width: 100%;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.error-container h1 {
  font-size: 8rem;
  color: #dc3545;
  margin: 0;
  text-align: center;
}

.error-container h2 {
  font-size: 2rem;
  color: #6c757d;
  margin-top: 0;
  margin-bottom: 20px;
}

.error-container p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.error-container a {
  display: inline-block;
  margin-top: 10px;
  padding: 15px 30px;
  font-size: 100%;
  color: #ffffff;
  background-color: #222;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.error-container a:hover {
  background-color: #0056b3;
}

.error-details {
  margin-top: 30px;
  border-top: 1px solid #e9ecef;
  padding-top: 20px;
  color: #6c757d;
}

.error-details h3 {
  color: #dc3545;
}

.error-details code {
  background-color: #e9ecef;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace;
}

.has-error .password-retype-blc {
    border-color: #f25961 !important;
    color: #f25961 !important;
}